<%- include("../admin/partials/head.ejs",{page:'orders'}); -%>
<%- include("../admin/showorder.ejs"); -%>
<%- include("../admin/deleteorder.ejs"); -%>
<div class="w-full">
    <div class="">
        <span class="text-3xl font-semibold ">Orders</span>
        <span class="text-xs ml-6 text-[#00000080]"><%= list.length %> orders found</span>
    </div>
    <div class="flex gap-3 justify-end">
        <div class="flex items-center ">

            <select onchange="filterOrder(this)" class="border-2 rounded-md py-2 bg-inherit text-gray-500 px-8" name="product-filter" id="product-filter">
                <option class="text-gray-500" value="All">All</option>
                <option class="text-gray-500" value="Processing">Processing</option>
                <option class="text-gray-500" value="Delivered">Delivered</option>
                <option class="text-gray-500" value="Shipped">Shipped</option>
                <option class="text-gray-500" value="Out Of Delivery">Out Of Delivery</option>
                <option class="text-gray-500" value="Cancelled">Cancelled</option>
                
            </select>

        </div>
        <div class="rounded-md bg-transparent border-gray-200 border-2 flex">
            <select onchange="setType()" id="order_search_type" class="pl-3 bg-inherit" name="customer_search_type">
                <option value="phone">Phone</option>
                <option value="title">Title</option>
            </select>
            <input id="order_search" name="transacion_search" class="bg-transparent pl-4 outline-none w-80" type="text" placeholder="Search...">
            <button onclick="searchOrder()" class="bg-[#1a91ff] flex justify-center items-center p-2 ">
                <span class="material-symbols-outlined text-white">search</span>
            </button>
        </div>
    </div>
    <!-- table -->
    <script src="/javascript/admin/orders.js"></script>
    <table class="w-full border-separate border-spacing-y-3" >
        <tr class="text-left border-b-2 ">
            <th class="text-[#00000070] border-b-[1px] border-slate-300 mr-2">
                <span class="">#</span>
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300 ">
                <div class="flex justify-between items-center mx-2 w-max">
                    <span class="">Order ID</span>
                    <div class="flex flex-col">
                        <button onclick="sortOrder(this)" id="od-sort-id-asc" class="material-symbols-outlined text-black h-4 flex justify-center items-center text-xl">
                            expand_less
                        </button>
                        <button onclick="sortOrder(this)" id="od-sort-id-des" class="material-symbols-outlined text-black h-4 flex justify-center items-center text-xl">
                            expand_more
                        </button>
                    </div>
                </div>
                
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span class="">Product Name</span>
                    
                </div>
                
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span>Phone</span>
                    
                </div>
               
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span class="mr-2">Date</span>
                
                </div>
                
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span class="mr-2">Price</span>
                    <div class="flex flex-col">
                        <button onclick="sortOrder(this)" id="od-sort-amount-asc" class="material-symbols-outlined text-black h-4 flex justify-center items-center text-xl">
                            expand_less
                        </button>
                        <button onclick="sortOrder(this)" id="od-sort-amount-des" class="material-symbols-outlined text-black h-4 flex justify-center items-center text-xl">
                            expand_more
                        </button>
                    </div>
                </div>
                
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span class="mr-2">Status</span>
                    
                </div>
                
            </th>
            
            <th class="text-[#00000070] border-b-[1px] border-slate-300 mx-2">Action</th>
        </tr>
        
        <tbody id="table-container">
            <%-include('../admin/partials/tabledata-orders.ejs')%>
        </tbody>
        
        
    </table>
    
</div>
<%- include("../admin/partials/footer.ejs"); -%>