<div>
    <h1 class="text-lg font-medium"><%= item.seller %></h1>
            <span class="text-gray-500 block "><%= item.title %></span>
            
            <div class="mt-2">
                <span class="text-gray-400 mt-4">Price</span>
                <div class="flex gap-2">
                    <span class="text-2xl font-medium">₹<%= Math.round(item.sell_price - ((item.sell_price * item.discount) / 100) ) %> </span>
                    <span class="text-xl text-gray-500"><s>₹<%=  item.sell_price  %></s></span>
                    <div class="w-[1px] bg-gray-500"></div>
                    <span class="text-xl font-medium text-green-500 leading-tight"><%= item.discount %>% off</span>
                </div>
                <div class="mt-[-7px]">
                    <span class="text-sm text-gray-500 ">Inclusive of all taxes</span>
                </div>
                
            </div>
            <script src="/javascript/user/product.js"></script>

            <!-- delivery details -->
            <div class="mt-5">
                <span class="text-gray-500">Delivery Details</span>
                <div class="flex my-2 border-2 justify-between px-2 items-center bg-white md:w-2/3">
                    <input type="text" name="" id="" placeholder="Enter Pincode" class="bg-inherit h-10 w-full border-none ">
                    <label class="text-xs text-gray-500" for="">CHECK</label>
                </div>
                <span class="text-xs text-gray-500">Enter 6 digit pincode to check exact delivery date</span>
            </div>
            <!-- delivery features -->
            <div class="mt-3 space-y-2">
                <div class="flex gap-3 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                        <path d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
                    </svg>
                    <span class="text-sm text-gray-500">Usually delivered within <b>4-6 days</b></span>
                </div>
                <div class="flex gap-3 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="green" height="20" width="20" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                        <path d="M96 96V320c0 35.3 28.7 64 64 64H576c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H160c-35.3 0-64 28.7-64 64zm64 160c35.3 0 64 28.7 64 64H160V256zM224 96c0 35.3-28.7 64-64 64V96h64zM576 256v64H512c0-35.3 28.7-64 64-64zM512 96h64v64c-35.3 0-64-28.7-64-64zM288 208a80 80 0 1 1 160 0 80 80 0 1 1 -160 0zM48 120c0-13.3-10.7-24-24-24S0 106.7 0 120V360c0 66.3 53.7 120 120 120H520c13.3 0 24-10.7 24-24s-10.7-24-24-24H120c-39.8 0-72-32.2-72-72V120z"/>
                    </svg>
                    <span class="text-sm text-gray-500">Cash On Delivery <b>available</b></span>
                </div>
                <div class="flex gap-3 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="green" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                        <path d="M142.9 142.9c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5c0 0 0 0 0 0H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5c7.7-21.8 20.2-42.3 37.8-59.8zM16 312v7.6 .7V440c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l41.6-41.6c87.6 86.5 228.7 86.2 315.8-1c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.2 62.2-162.7 62.5-225.3 1L185 329c6.9-6.9 8.9-17.2 5.2-26.2s-12.5-14.8-22.2-14.8H48.4h-.7H40c-13.3 0-24 10.7-24 24z"/>
                    </svg>
                    <span class="text-sm text-gray-500">10 day Return / Exchange Policy</span>
                </div>
            </div>
            <div class="">
                <div class="flex gap-3 my-4">
                    <form class="w-full" action="/home/addtocart" method="post">
                        <input name="id" value="<%= item.product_id %>" type="hidden">
                        <button class="bg-[#1a91ff] flex items-center justify-center gap-3 rounded-sm p-3 w-full">
                            <span class="material-symbols-outlined text-white">
                                shopping_cart
                            </span>
                            <span class="text-white">Add to cart</span>
                        </button>
                    </form>
                    
                    <button id="<%= item.product_id %>" onclick="moveWishlist(this)" class=" flex items-center justify-center gap-3 rounded-sm p-3 w-full border-2 border-[#1a91ff]">
                        <span class="material-symbols-outlined text-[#1a91ff]">
                            favorite
                        </span>
                        <span class="text-[#1a91ff]">Move to wishlist</span>
                    </button>
                </div>
            </div>
            <!-- product details -->
            <div class="my-5 flex flex-col gap-3">
                <h1 class="text-lg font-medium">Product Details</h1>
                <h4 class="text-gray-500 text-sm font-medium">Specifications</h4>
                <!-- Specifications grid -->
                <div class="grid grid-cols-2 gap-4">
                    <% item.specifications.forEach((i)=>{ %>
                        <div class="border-b-[1px] flex flex-col pb-2">
                            <span class="text-gray-500 text-sm font-medium"><%= i.split(' : ')[0] %></span>
                            <span class="font-medium"><%= i.split(' : ')[1] %></span>
                        </div>
                    <% }) %>
                    
                </div>
            </div>
           
            
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
            