<% list.forEach((data,index)=>{ %>
    <tr class="border-b-2 border-spacing-2 ">
        <td class="text-[#00000070] border-b-[1px] border-slate-300 mx-2"><%= index+1 %></td>
        <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2"><%= data.product_id %></td>
        <td class="text-[#00000070] border-b-[1px] border-slate-300 mx-2 w-80">
            <div class="flex">
                <img class="h-10 inline mr-3" src="<%= data.image %>" alt="img">
                <span class=" block"><%= data.title %></span>
            </div>
            
            
        </td>
        <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2"><%= data.category %></td>
        <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2"><%= data.quantity %></td>
        
        <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2">₹<%= data.sell_price %></td>
        <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2"><%= data.seller %></td>
        <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2 w-16">
            <% if(data.status=='In Stock') {%>
                <div class="rounded-full bg-green-100 p-[2px] flex justify-center items-center px-3">
                    <span class="text-green-500 text-sm"><%= data.status %></span>
                </div>
            <% } else { %>
                <div class="rounded-full bg-red-100 p-[2px] flex justify-center items-center px-3">
                    <span class="text-red-500 text-sm"><%= data.status %></span>
                </div>
            <% }  %>

        </td>
        <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2">
            <div class="flex">
                <button id="<%= data._id %>" onclick="showEdit(this)" class="material-symbols-outlined text-[#1a91ff] mr-1">
                    edit
                </button>
                <button id="<%= data._id %>-<%= data.product_id %>" onclick="showDelete(this)" class="material-symbols-outlined text-red-500">
                    delete
                </button>
            </div>
            
        </td>
    </tr>
<% }) %>